/**********************
	GLOBAL ELEMENTS
**********************/
body {
  margin: 0;
  padding: 0;
  color: #9b9fa5;
  background-color: #6f7b8a;
  font: 62.5% Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}
#global {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	font-size: 1.3em;
	text-align: left;
}
#global_container {
	float: left;
	background: url(/sites/all/themes/abri/images/bg_main.jpg) repeat-y;
}
#top {
	float: left;
	height: 300px;
	width: 800px;
	margin: 30px 0 30px 0;
	padding: 0 0 0 80px;
}
#header {
	float: left;
	width: 700px;
	height: 200px;
	color: #fff;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	line-height: 1.6;
	padding: 50px;
	text-align: center;
}
#content {
	float: left;
	width: 800px;
	margin: 0;
	padding: 0 80px 50px 80px;
}
#left {
	float: left;
	width: 240px;
}
#main {
	float: left;
	width: 422px;
	text-align: justify;
	margin: 0;
	padding: 0 0 0 50px;
}
#footer {
	float: left;
	height: 50px;
	width: 830px;
	color: #9b9fa5;
	text-align: right;
	padding: 20px 80px 0 50px;
	margin: 0;
	background: url(/sites/all/themes/abri/images/bg_footer.jpg) no-repeat top left;
}
#block-menu-2 ul.menu_1, #block-menu-2 .menu_1 ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#block-menu-2 ul.menu_1 li {
	padding: 5px 0 5px 35px;
	background-color: #fff;
}
#block-menu-2 ul.menu_1 li.active {
	background-color: #e8eaec;
}
#block-menu-2 ul.menu_1 li:hover {
	background-color: #f3f4f5;
	cursor: pointer;
}
#block-menu-2 ul.menu_1 a {
	font-size: 1.4em;
	color: #585757;
	font-weight: normal;
	text-decoration: none;
}
#block-menu-2 li.leaf {
	list-style-image: none;
	list-style-type: none;
}
#footer a {
	color: #9b9fa5;
	font-weight: normal;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
a {
	color: #9b9fa5;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 1.8em;
	color: #b4b7bc;
	font-weight: normal;
	margin: 30px 0 15px 0;
}
h2 {
	font-size: 1.6em;
	color: #b4b7bc;
	font-weight: bold;
	margin: 10px 0 5px 0;
}
#user-login-form {
	text-align: left;
}
#user-login-form .item-list ul li {
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
}
#user-login-form .block ul {
	padding: 0;
	margin: 0;
}
#webform-client-form-10 input {
	width: 300px;
	border: 1px solid #666;
}
#webform-client-form-10 textarea {
	border: 1px solid #666;
	width: 300px;
}
#webform-client-form-10 .resizable-textarea {
	width: 300px;
}
.messages { display: none; }